@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins/Poppins-Regular.ttf");
}

/* Gradients */

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

/* Animation */
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.app-wrapper {
  @apply bg-[#000D26] text-white min-h-screen w-screen select-none font-poppins;
}

.screen-wrapper {
  @apply p-2;
}

.btn {
  @apply bg-blue-600 hover:bg-blue-500 hover:scale-105 text-white font-bold px-6 py-2 w-fit h-fit 
  rounded-3xl sm:cursor-pointer font-poppins;
}

.card {
  @apply bg-[#041938] hover:ring-4 hover:ring-blue-600 hover:scale-105 text-white text-[1.15rem] 
  px-6 py-2 rounded-3xl font-bold w-[300px] sm:w-[370px] h-fit mb-6;
}

.input {
  @apply bg-transparent outline-none border-[3px] border-blue-600 p-3 
  rounded-xl mb-4 w-64 text-center appearance-none;
}

/* Screens */
.card-container {
  @apply flex flex-col justify-center items-center p-2;
}

/* Navbar */
.navbar-title {
  @apply font-poppins font-bold m-2 hover:text-blue-500;
}

/* Header */
.header {
  @apply sticky top-0 flex justify-between items-center px-3 sm:px-8 
  py-10 bg-[#281B87] h-[60px] z-50;
}

.header-container {
  @apply flex justify-between items-center w-full;
}

.header-title {
  @apply mt-2 mb-2 font-bold text-xl center;
}

/* Loading */
.loading-wrapper {
  @apply flex flex-col justify-center items-center h-[95vh];
}

/* Homescreen */
.center {
  @apply flex justify-center items-center;
}

/* Pagination */
.pagination-item {
  @apply py-2 px-3 leading-tight text-white border border-gray-500
  hover:bg-gray-700 hover:text-white rounded-lg;
}

.pagination-icon {
  @apply block py-2 px-3 leading-tight bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white;
}
